root {
  --columns: 40;
}

body {
  background-color: dimgray;
}

.frame {
  display: grid;
  grid-template-columns: repeat(40, 1.125rem);
  grid-column-gap: .1rem;
  grid-row-gap: .1rem;

  width: 48.9rem;
  margin: auto;
  padding: .1rem;
  background-color: darkgray;

  text-align: center;
  color: whitesmoke;
  font-family: sans-serif;
  font-weight: bold;

  border: .1rem solid black;
}

#quoteFrame {
  grid-template-rows: repeat(5, 2rem);
}

#charFrame {
  grid-template-rows: 2rem;
  margin: .2rem auto;
}

#animeFrame {
  grid-template-rows: 2rem 2rem;
}

.char {
  background-color: black;
  padding-top: .4rem;
}
